<div class="editPagesMargin">
<div>
<h1>{{currentUser.firstName}} {{currentUser.lastName}}</h1>
</div>
<form method="post" enctype="multipart/form-data" action="/users/edit" class="form">
    <label for="firstName">First name</label>
    <input class="input" type="text" id="firstName" name="firstName" value="{{currentUser.firstName}}"><br>
    <label for="lastName">Last name</label>
    <input class="input" type="text" id="lastName" name="lastName" value="{{currentUser.lastName}}"><br>
    <label for="interest">My interests</label>
    <input class="input" type="text" id="interest" name="interest" value="{{currentUser.interest}}"><br>
    <label for="email">Email</label>
    <input id="email" class="input" type="email" name="email" value="{{currentUser.email}}"><br>
    <label for="avatar">Avatar</label>
    <input id="avatar" class="input" type="file" name="avatar" value="{{currentUser.avatar}}"><br>
    <button class= "btn"> Edit account </button>
</form>




</div>