<h1>{{currentUser.firstName}} {{currentUser.lastName}}</h1>

<img src="{{currentUser.avatar}}" alt="Avatar">
<div>
  <p>My interests: {{currentUser.interest}}</p>
</div>
<div>
  <p>My email: {{currentUser.email}}</p>
</div>
<div>
  <p>My whishlist</p>
   {{#each favorite}}
    <p>
        {{this.book.title}}
    </p>
    {{/each}}
</div>
<div>
  <a href='/users/edit'>Edit my account</a>
</div>
<div>
  <a href='/users/delete'>Delete my account</a>
</div>