<h1>{{currentUser.firstName}} {{currentUser.lastName}}</h1>

<img class = "profilepic" src="{{currentUser.avatar}}" alt="Avatar">
<div>
  <p><b>My interests:</b> {{currentUser.interest}}</p>
</div>
<div>
  <p><b>My email:</b> {{currentUser.email}}</p>
</div>
<div>
  <p><b>My whishlist:</b></p>
   {{#each favorite}}
    <p>
        {{this.book.title}}
    </p>
    {{/each}}
</div>
<div>
  <button class = "btn"><a class = "btn-text" href='/users/edit'>Edit my account</a></button>
</div>
<div>
   <button class = "btn"><a class = "btn-text" href='/users/delete'>Delete my account</a></button>
</div>