<h1>{{book.title}}</h1>
<div>
    <img src="{{book.cover}}" alt="">
    <p>
        
        Author: {{book.author}}
        Genre: {{book.genre}}<br>
    </p>
</div>
<form action="/books/{{book.id}}" method="POST">
    <button>Delete</button>
</form>
{{!-- <form action="/books/edit/{{book.id}}" method="POST">
    <button>Edit</button>
</form> --}}

<a href="/books/edit/{{book.id}}">EDIT</a>


