<h1>Book detail</h1>
<<<<<<< HEAD
<div>
    <img src="{{book.cover}}" alt="">
    <p>
        Title: {{book.title}}<br>
        Author: {{book.author}}
        Genre: {{book.genre}}<br>
    </p>
</div>
<form action="/books/{{book.id}}" method="POST">
    <button>Delete</button>
</form>
{{!-- <form action="/books/edit/{{book.id}}" method="POST">
    <button>Edit</button>
</form> --}}
<a href="/books/edit/{{book.id}}">EDIT</a>
=======

<div>
<p>
    Title: {{book.title}}<br>
    Author: {{book.author}}
    Genre: {{book.genre}}<br>
    Cover: {{book.cover}}<br>
</p>
</div>
<form action="/book/{{id}}" method="POST">
<button>Delete</button>
</form>

<form action="/book/edit/{{id}}" method="POST">
<button>Edit</button>
</form>
>>>>>>> acadbcbda167c5fd73c0c2fcbc2a39afc72fe7b0
