<h1>{{book.title}}</h1>
<div class="bookcard-container">
    <div>
        <img class = "cover-image" src="{{book.cover}}" alt="">
        <p>

            <b>Author:</b> {{book.author}}<br>
            <b>Year:</b> {{book.year}}<br>
            <b>Genre:</b> {{book.genre}}<br>
            <b>Synopsis:</b> {{book.synopsis}}
        </p>
        <button class = "btn"><a class = "btn-text" href="/books/delete/{{book.id}}">Delete book</a></button>

        <button class = "btn"><a class = "btn-text" href="/books/edit/{{book.id}}">Edit book</a></button>
    </div>

    <div>
        <form class="form-favorites" action="/favorites/add/{{book.id}}" method="post">
            <button>Add to my whishlist</button>
        </form>
    </div>
    <div>
        <form class="formcomment" action="/comments/create/{{book.id}}" method="post">
            <label for="comment">Comment</label>
            <input class="input" type="text" id="comment" name="comment" value="test comment">
            <button>Post comment</button>

    </div>
    {{#each comments}}
    <p>
        {{this.date}}<br>
        {{this.user.lastName}}<br>
        {{this.comment}}
    </p>
        {{!-- <a href="/comments/delete/{{comment._id}}">Delete</a> --}}
    {{/each}}
</div>